{% extends 'base.html' %}

{% block content %}
{% block aboutactive %}active{% endblock aboutactive %}
<title>{% block title %}About{% endblock title %}</title>

  .{% load static %}
  {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Developer Bony</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact me</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </nav>
    <div class="container my-3">
  <h6 class="text-center">About me</h6>
        <div class="card-deck">
  <div class="card">
      <img src="{% static 'home/Developer.jpeg' %}" class="card-img-top" alt="Developer">
    <div class="card-body">
      <h5 class="card-title">Developer</h5>
      <p class="card-text">Building web applications and solving real-world problems.</p>
      <a href="#" class="btn btn-primary">Click for Demo</a>
    </div>
  </div>
  <div class="card">
      <img src="{% static 'home/Painter.jpg' %}" class="card-img-top" alt="Painter">
    <div class="card-body">
      <h5 class="card-title">Painter</h5>
      <p class="card-text">Turning emotions into visual masterpieces.</p>
      <a href="#" class="btn btn-primary">Click for Demo<
  </div>
  <div class="card">
      <img src="{% static 'home/Dancer.jpeg' %}" class="card-img-top" alt="Dancer">
    <div class="card-body">
      <h5 class="card-title">Dancer</h5>
      <p class="card-text">Expressing creativity through movement and rhythm.</p>
      <a href="#" class="btn btn-primary">Click for Demo</a>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  {% endblock body %}
{% endblock content %}
