{% extends 'base.html' %}

{% block aboutactive%}{% endblock aboutactive %}
{% block title %}About{% endblock title %}
{% load static %}

{% block content %}
<div class="container my-3">
  <h6 class="text-center">About me</h6>
  <div class="card-deck">
    <div class="card">
      <img src="{% static 'home/Developer.png' %}" class="card-img-top mx-2" alt="Developer">
      <div class="card-body">
        <h5 class="card-title">Developer</h5>
        <p class="card-text">Building web applications and solving real-world problems.</p>
        <a href="#" class="btn btn-primary">Click for Demo</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'home/Painter.png' %}" class="card-img-top mx-2" alt="Painter">
      <div class="card-body">
        <h5 class="card-title">Painter</h5>
        <p class="card-text">Turning emotions into visual masterpieces.</p>
        <a href="#" class="btn btn-primary">Click for Demo</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'home/Dancer.png' %}" class="card-img-top mx-2" alt="Dancer">
      <div class="card-body">
        <h5 class="card-title">Dancer</h5>
        <p class="card-text">Expressing creativity through movement and rhythm.</p>
        <a href="#" class="btn btn-primary">Click for Demo</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
